* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #320d3e;
  height: 100vh;
}

.navbar {
  display: flex;
  align-items: center;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 3px solid grey;
}

.navbar h1 {
  color: #f162ff;

  font: size 2rem;
}
.navbar .links {
  margin-left: auto;
  font-weight: bold;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: white;
}
.navbar a:hover {
  background: #f1356d;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s ease-in;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid black;
}

.blog-preview:hover {
  transform: scale(1.05);
  transition: 0.3s ease-out;
}

.blog-preview h2 {
  font-size: 20px;
  color: #ed3572;
  margin-bottom: 8px;
}
.blog-preview p {
  color: #ffd79d;
}

.blog-preview a {
  text-decoration: none;
}

.blog-list .title {
  margin-top: 15px;
  text-align: center;
}

.pending {
  margin-top: 8px;
  font-size: 1.2rem;
  padding: 10px;
}
.error {
  margin-top: 8px;
  font-size: 1.2rem;
  padding: 10px;
}

.title {
  text-align: center;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.author {
  text-align: center;
  font-size: 1.5rem;
  padding: 3px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.body {
  justify-content: center;
  margin-top: 15px;
  text-align: center;
  font-size: 1.1rem;
  color: #d902ee;
}

.create label {
  text-align: left;
  display: block;
}
.create .add {
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.create h2 {
  font-size: 20px;
  color: black;
  margin-bottom: 30px;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create button:hover {
  transform: scale(1.08);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.deleteBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 10px;
  align-items: center;
  width: 80px;
  font-size: 1rem;
}

.delete:hover {
  transform: scale(1.08);
  font-weight: bold;
  transition: all 0.5s ease-in-out;
}

.label {
  color: #ffd79d;
}

.pending {
  color: #ffd79d;
}

.login-with-google-btn {
  transition: 0.5s ease;
  -webkit-transition: 0.5s ease;
  -moz-transition: 0.5s ease;
  -ms-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  cursor: pointer;
}
.login-with-google-btn:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  background-color: #f1356d;
  color: whitesmoke;
}

.btn {
  transition: 0.5s ease;
}
.btn:hover {
  transform: scale(1.1);
  background-color: #f1356d;
  color: whitesmoke;
}

.post {
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
}
